<div class="form_container">
  <%= form_with model: @post, url: '/posts', html: {class: "new_post"} do |form| %>
    <div class="control_container">
      <%= form.label :title %><br>
      <%= form.text_field :title, class: "form_control", placeholder: "Enter post title" %>
    </div>
    <div class="control_container">
      <%= form.label :text %><br>
      <%= form.text_area :text, class: "form_control", placeholder: "Enter post text" %>
    </div>
    <div class="control_container button_container">
      <%= form.submit "Post", class: "submit_btn" %>
    </div>
  <% end %>
</div>