<div class="users_wrapper">
    <div class="users_index_main_container">
      <div class="user_info">
        <h1><%= @post.title %> by <%= @post.user.name %></h1>
        <div class="user_info_posts_counter">
          Comments:
          <%= @post.comments_counter || 0 %>
          , Likes:
          <%= @post.likes_counter || 0 %>
        </div>
        <p class="post_text"><%= @post.text %></p>
      </div>
</div>
    <div class="comments_info_container"> 
      <% @post.five_most_recent_comments.each_with_index do |comment, index| %>
        <div class="comment_info">
          <h4> <%= comment.user.name %>'s comment: </h4> 
          &nbsp;&nbsp;
          <p class = 'comment_text'> <%= comment.text %> </p>
        </div>
      <% end %>
    </div>
</div>